* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(104deg);
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(45, 74, 84, 0.585), rgba(76, 50, 50, 0.7)),
    url(/images/NParkSearchPage/pexels-josh-hild-2422463.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

/* ------------nav bar----------------------- */

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  color: #eee;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
/* ---------------------------------------------------------------------------- */


.containerButton {
  width: 400px;
  height: 400 px;
  margin-bottom: 5px;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #76b9d5;
  color: white;
  font-size: 20px;
}

p {
  font-size: 20px;
}

section {
  margin: 50px;
}

select {
  /* margin: 40px 0px 0px 4; */
  margin-left: 200px;
  width: 160px;
  padding: 4px 3px 4px 4px;
  font-size: 14px;
  border: 1px solid #eee;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 100% / 15% no-repeat #76b9d5;
  align-items: center;
  justify-items: center;
}

.table-container {
  justify-content: center;
  margin: 20vh auto;
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin-top: 90px;

  overflow-y: auto;
  height: 350px;
}

.table-container thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}

table {
  width: 100%;
  box-shadow: 15px 15px #0000000d;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background-color: #abc9e2;
  color: #fff;
}

tr:nth-of-type(even) {
  background-color: #fff;
  color: #333;
}

th {
  background-color: #76b9d5;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

td {
  font-size: 10px;
}

td,
th {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.mybtn {
  color: #fff;
  background-color: #37bc9b;
  font-size: 13px;
  padding: 5px 8px;
  border: none;
  border-radius: 2px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #2e9c81;
}

/* -------------------------------------for to make responsive------------------------------------------- */

@media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 992px) {
  .table-container {
    width: 95%;
    background: transparent;
  }
 html{
    width: 100%;
    height: max-content;
    background: transparent;
  }

  #mybtn {
    width: 30%;
    
    margin-right: 300px;
    
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
  }

  td:nth-of-type(1)::before {
    content: "Location Name";
  }

  td:nth-of-type(2)::before {
    content: "Address";
  }

  td:nth-of-type(3)::before {
    content: "City";
  }

  td:nth-of-type(4)::before {
    content: "State";
  }

  td:nth-of-type(5)::before {
    content: "ZipCode";
  }

  td:nth-of-type(6)::before {
    content: "Phone number";
  }

  td:nth-of-type(7)::before {
    content: "Fax";
  }

  td:nth-of-type(8)::before {
    content: "Latitude";
  }

  td:nth-of-type(9)::before {
    content: "Longitude";
  }

  td:nth-of-type(10)::before {
    content: "type";
  }
}
